#AboutWrapper {
  min-height: 100vh;
}

.AboutMain {
  flex-direction: column;
  background-color: #124559de;
  color: white;
  width: 70%;
  height: 70%;
  padding: 2rem 5rem 5rem 5rem;
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
}

.AboutHeader {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: ui-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: underline;
}

.AboutTextWrapper {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}
