#Contact-Wrapper {
  z-index: 3 !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  background: rgb(89, 131, 146);
  background: linear-gradient(
    90deg,
    rgba(89, 131, 146, 1) 0%,
    rgba(130, 76, 113, 0.9051995798319328) 100%
  );
  gap: 4rem;
}

.Contact-Text {
  font-size: 1.2rem;
}

.Contact-Icons-Wrapper {
  gap: 2rem;
}

.Contact-Icon-Wrapper {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.Contact-Icon {
  height: 2rem;
  width: 2rem;
  transition: transform 0.5s;
}

.Contact-Icon:hover {
  transform: scale(1.4);
}
