.TopBar {
  background: rgb(89, 131, 146);
  background: linear-gradient(
    90deg,
    rgba(89, 131, 146, 1) 0%,
    rgba(130, 76, 113, 0.9051995798319328) 100%
  );
  color: rgb(255, 255, 255);
  z-index: 5;
  width: 100%;
  position: fixed;
  pointer-events: all;
  font-weight: 700;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.menu .opened {
  display: block;
}

.menu .hidden {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.NavSmallViewPort {
  position: absolute;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: #824c7191;
  border-radius: 12px;
  padding: 2rem;
  /* height: 40vw;
  width: 50%; */
  top: 5.2rem;
  right: 0rem;
}
